src/components/temp/OpenAI[[:space:]]CEO[[:space:]]Sam[[:space:]]Altman：[[:space:]]＂If[[:space:]]this[[:space:]]technology[[:space:]]goes[[:space:]]wrong,[[:space:]]it[[:space:]]can[[:space:]]go[[:space:]]quite[[:space:]]wrong.＂.wav filter=lfs diff=lfs merge=lfs -text

